@font-face {
  font-family: "HelveticaNeueLtArabic";
  src: url(/visuals/HelveticaNeueLTArabic-Roman.ttf);
}

@font-face {
  font-family: "HelveticaNeueLtArabicBold";
  src: url(/visuals/HelveticaNeueLTArabic-Bold.ttf);
}

body {
  background-image: url(visuals/background.jpg);
  background-size: cover;
  margin: 0;
}
.Container {
  font-family: "HelveticaNeueLtArabic";
  display: grid;
  width: 100%;
  text-align: justify;
}

.Center {
  place-items: center;
  text-align: justify;
  /* text-align-last: justify; */
}
.introImages {
  background-color: #e97a62;
  height: 40vw; /* Responsive height */
  width: 40vw; /* Responsive width */
  border-radius: 50%;
  display: flex;
  position: relative;
  left: 3vw; /* Responsive positioning */
  bottom: 3vw; /* Responsive positioning */
}

.characterimage {
  background-color: #aac4d0;
  height: 30vw; /* Responsive height */
  width: 30vw; /* Responsive width */
  border-radius: 50%;
  display: flex;
  position: relative;
  right: 10vw; /* Responsive positioning */
  top: 20vw; /* Responsive positioning */
}
#firstImage {
  position: relative;
  display: flex;
  bottom: 27vw; /* Responsive positioning */
  left: 10vw; /* Responsive positioning */
  width: 45vw; /* Responsive width */
  height: 65vw; /* Responsive height */
}

.logoimage {
  position: relative;
  display: flex;
  width: auto;
  right: 10vw; /* Responsive positioning */
  top: 10vw; /* Responsive positioning */
  height: 40vw; /* Responsive height */
  width: 10vw; /* Responsive width */
}
.ofoqtitle {
  position: relative;
  bottom: 12vw; /* Responsive positioning */
  right: 1vw; /* Responsive positioning */
  width: 70vw; /*Responsive width*/
  height: 30vw; /*Responsive height*/
}

.colorwhite {
  color: white;
}

.colorblue {
  color: #1d4b5e;
}

.colorlightblue {
  color: #aac4d0;
}

.colororange {
  color: #e97a62;
}

.colorgreen {
  color: #6bc96dff;
}

p {
  margin-bottom: 10px;
  font-size: 2.5vw;
}
ul {
  font-size: 2.5vw;
}
.intro {
  position: relative;
  right: 40vw; /* Responsive positioning */
  top: 5vw; /* Responsive positioning */
  width: fit-content;
  font-weight: bold;
}

.hello {
  padding-bottom: 6vw; /* Responsive height */
  background-image: url(visuals/hand.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 33vw;
  background-position-y: 0vw;
  background-position-x: -10vw;
}
#handbackground {
  position: relative;
  right: 40vw; /* Responsive positioning */
  bottom: 65vw; /* Responsive positioning */
  height: 50vw; /* Responsive height */
  width: 20vw; /* Responsive width */
}

#lined {
  line-height: 1px;
}

.takeoftext {
  position: relative;
  right: 9vw; /* Responsive positioning */
  width: fit-content;
}

.takeoftext p {
  font-size: 3vw; /* Responsive font size */
  font-weight: bold;
}
.takeofimage {
  background-color: #e97a62;
  height: 25vw; /* Responsive height */
  width: 25vw; /* Responsive width */
  border-radius: 50%;
  left: 18vw; /* Responsive positioning */
  position: relative;
  bottom: 8vw; /* Responsive positioning */
  overflow: visible;
}

.takeofimage img {
  display: block;
  position: absolute;
  top: -4.5vw; /* Responsive positioning */
  right: 5vw; /* Responsive positioning */
  width: 40vw; /* Responsive width */
  height: 35vw; /* Responsive height */
}

.takeoftitle {
  position: relative;
  bottom: 10vw; /* Responsive positioning */
  padding-bottom: 0vw; /* Responsive height */
}

.title {
  font-size: 5vw; /* Responsive font size */
  line-height: 3.5vw; /* Responsive line height */
  font-weight: bolder;
}
#seperator {
  border-top: 1px solid;
  width: 40vw; /* Responsive width */
}

.whoweare {
  background-color: #aac4d0;
  padding: 5vw; /* Responsive padding */
}

.whowearetitle {
  padding-bottom: 2vw; /* Responsive padding */
}
.ourway {
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: #e97a62;
}

.glasses {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
}

.glasses img {
  position: relative;
  width: 40vw; /* Responsive width */
  height: 10vw; /* Responsive height */
  top: 1vw; /* Responsive positioning */
  left: 5vw; /* Responsive positioning */
}
.successstop {
  padding-top: 2vw; /* Responsive padding */
  background-color: #aac4d0;
  height: 28vw; /* Responsive height */
}

#servicesimg {
  height: 7vw; /* Responsive height */
  width: 45vw; /* Responsive width */
}

#servicestext {
  position: relative;
  z-index: 2;
  right: 17.5vw; /* Responsive positioning */
  bottom: 5vw; /* Responsive positioning */
}

#servicesarrow {
  position: relative;
  height: 40vw; /* Responsive height */
  bottom: 15vw; /* Responsive positioning */
  right: 33.5vw; /* Responsive positioning */
}
.boothimages {
  flex-wrap: wrap;

  justify-content: space-between;
}

.boothimages1,
.boothimages2,
.boothimages3 {
  display: flex;
  gap: 0.5vw; /* Responsive gap */
}

/* Ensure the images scale down properly */
.boothimages1 img,
.boothimages2 img,
.boothimages3 img,
#widerimage {
  width: 100%;
  max-width: 100%;
  height: 17.5vw; /* Maintain aspect ratio */
}

.learningimages {
  display: flex;
  gap: 1vw; /* Responsive gap */
}

.learningimages img {
  width: 17.3vw; /* Responsive width */
  height: 17.3vw; /* Responsive height */
}
.specialconsultaion {
  background-color: #1d4b5e;
  height: 45vw;
}
.specialconsultaion1 {
  position: relative;
  z-index: 1;
  bottom: 7vw; /* Responsive positioning */
  width: 100%; /* Make the image take up the full width of its container */
  max-width: 100%; /* Ensure it does not exceed its container's width */
}
.specialconsultaion img,
.specialconsultaion1 img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}
.motivationimages {
  display: flex;
  gap: 1.2vw; /* Responsive gap */
}

.motivationimages img {
  width: 17.3vw; /* Responsive width */
  height: 17.3vw; /* Responsive height */
}

.appreciationimages {
  display: flex;
}

.appreciationimages img {
  width: 17.3vw; /* Responsive width */
  height: 17.3vw; /* Responsive height */
  padding: 0.6vw; /* Responsive padding */
}

.risecontainer img {
  width: 63.2vw; /* Responsive width */
  height: 47.7vw; /* Responsive height */
  position: relative;
}
.excellenceimages {
  display: flex;
  gap: 1vw; /* Responsive gap */
}

.excellenceimages img {
  width: 26.3vw; /* Responsive width */
  height: 26.3vw; /* Responsive height */
  padding: 0.6vw; /* Responsive padding */
}

.diamondtrip {
  background-color: #aac4d0;
  background-image: url(visuals/bluebulb.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 55vw;
}
.diamondtriptext {
  height: 50vw;
}
#orangebulb {
  position: relative;
  right: 24vw; /* Responsive positioning */
  bottom: 60vw; /* Responsive positioning */
  width: 50vw; /* Responsive width */
  height: 50vw; /* Responsive height */
}
.circleorange {
  margin: 1vw; /* Responsive margin */
  display: grid;
  place-items: center;
  height: 19vw; /* Responsive height */
  width: 19vw; /* Responsive width */
  border-radius: 50%;
  background-color: #e97a62;
  color: #1d4b5e;
}

.circleblue1,
.circleblue2,
.circleblue3 {
  position: relative;
  height: 11vw; /* Responsive height */
  width: 11vw; /* Responsive width */
  border-radius: 50%;
  border: 1px solid #1d4b5e;
}

.circleblue1 {
  right: 2.5vw; /* Responsive positioning */
}

.circleblue2 {
  z-index: -1;
  bottom: 18.5vw; /* Responsive positioning */
  left: 4.5vw; /* Responsive positioning */
}

.circleblue3 {
  z-index: -1;
  bottom: 3vw; /* Responsive positioning */
  right: 2.5vw; /* Responsive positioning */
}

.standout {
  height: 130vw; /* Responsive height */
}

.standoutvision {
  margin-top: 6vw; /* Responsive margin */
  display: flex;
}
.achievements {
  background-color: #e97a62;
  height: 48.5vw; /* Responsive height */
}

.achievements .title {
  margin: 2.5vw; /* Responsive margin */
}

#achievemntimage {
  position: relative;
  left: 8.5vw; /* Responsive positioning */
  bottom: 33.5vw; /* Responsive positioning */
  height: 60.1vw; /* Responsive height */
  width: 65.7vw; /* Responsive width */
}

ul.achievementlist {
  list-style-type: none;
}

ul.achievementlist li::before {
  content: "-";
}

#rotate {
  position: relative;
  right: 44vw; /* Responsive positioning */
  bottom: 60vw; /* Responsive positioning */
  transform: rotate(270deg);
  width: fit-content;
}

#rotate p {
  margin: 0px;
}
.circleorangeend {
  position: relative;
  height: 15vw; /* Responsive height */
  width: 15vw; /* Responsive width */
  border-radius: 50%;
  border: 1px solid #e97a62;
  right: 12vw; /* Responsive positioning */
  top: 4vw; /* Responsive positioning */
}

#endhand {
  position: relative;
  height: 29vw; /* Responsive height */
  left: 10vw; /* Responsive positioning */
  bottom: 12vw; /* Responsive positioning */
  width: 23.7vw; /* Responsive width */
}

.nationday {
  height: 65vw; /* Responsive height */
}

.nationdayimage {
  width: 65vw; /* Responsive width */
  height: 46vw; /* Responsive height */
}

#nationdaytext {
  position: relative;
  bottom: 11vw; /* Responsive positioning */
  left: 25vw; /* Responsive positioning */
  font-size: 2.2vw; /* Responsive font size */
  font-weight: bold;
}

.valueslist {
  list-style-type: none;
  padding-right: 0px;
}

.valueslist li {
  padding-right: 5vw; /* Responsive padding */
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain; /* Ensures the background image scales to fit the container */
}

.valueslist .li1 {
  background-image: url("visuals/innovitionicon.png");
}

.valueslist .li2 {
  background-image: url("visuals/professionalisimicon.png");
}

.valueslist .li3 {
  background-image: url("visuals/cooperationicon.png");
}

.valueslist .li4 {
  background-image: url("visuals/speedicon.png");
}

.valueslist .li5 {
  background-image: url("visuals/socialicon.png");
}

/* Media Queries for Tablet */
@media (max-width: 1440px) {
  .valueslist li {
    background-size: 30px; /* Adjust background size for tablets */
  }
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .valueslist li {
    background-size: 20px; /* Adjust background size for mobile */
  }
}

.listcontainer {
  display: flex;
  height: 30vw; /* Responsive height */
  margin-top: -2vw; /* Responsive margin */
}
.bulbblue {
  position: relative;
  width: 47vw; /* Responsive width */
  height: 45.7vw; /* Responsive height */
  bottom: 15vw; /* Responsive positioning */
}

.biggerp {
  font-size: 2.5vw; /* Responsive font size */
  font-weight: bold;
}

#bold {
  font-weight: bold;
}

#imageschunk {
  width: 82vw; /* Responsive width */
  position: relative;
  bottom: 25vw; /* Responsive positioning */
}

.imageschunk {
  height: 330vw; /* Adjust height if needed */
}

#hard1 {
  height: 65vw; /* Responsive height */
  width: 65vw; /* Responsive width */
  position: relative;
  bottom: 10vw; /* Responsive positioning */
}
/* .bulkimages {
  height: 90vw;
} */
.textunder {
  position: relative;
  bottom: 62vw; /* Responsive positioning */
  left: 22.5vw; /* Responsive positioning */
}

.textabove {
  position: relative;
  width: 25vw; /* Responsive width */
  height: 20vw; /* Responsive height */
  top: 41vw; /* Responsive positioning */
  right: 19.5vw !important; /* Responsive positioning */
}

.textabove p {
  font-size: 4vw; /* Responsive font size */
  margin: 0;
}

.textunder p {
  font-size: 5.5vw; /* Responsive font size */
  font-weight: bold;
  margin: 20px;
}

.under {
  position: relative;
  bottom: 28vw; /* Responsive positioning */
  right: 40vw; /* Responsive positioning */
  height: min-content;
  width: fit-content;
}

.under p {
  margin: -1.5vw 0;
  font-size: 4vw; /* Responsive font size */
}

.above {
  position: relative;
  top: 5vw; /* Responsive positioning */
  right: 10vw; /* Responsive positioning */
}

.above p {
  margin: -1vw 0;
  font-size: 4vw; /* Responsive font size */
}

.rise {
  position: relative;
  bottom: 20vw; /* Responsive positioning */
}
.ready {
  height: 50vw;
}
footer {
  background: none;
  display: flex;
  text-align: center;
  justify-content: center; /* Center align the footer content */
  align-items: center; /* Center align items vertically */
  gap: 2vw; /* Responsive gap */
  padding: 1vw 2vw; /* Responsive padding */
  direction: ltr;
}

footer p,
footer a {
  display: flex;
  align-items: center; /* Align text and icon vertically */
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Ensure links have the same color as the text */
  font-size: 2.5vw;
  margin: 0px;
}

footer img {
  margin-left: 0.5vw; /* Responsive margin */
  width: 2vw; /* Responsive width */
  height: auto; /* Maintain aspect ratio */
}
