@font-face {
  font-family: "HelveticaNeueLtArabic";
  src: url(/visuals/HelveticaNeueLTArabic-Roman.ttf);
}
@font-face {
  font-family: "HelveticaNeueLtArabicBold";
  src: url(/visuals/HelveticaNeueLTArabic-Bold.ttf);
}
body {
  background-image: url(visuals/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.Container {
  font-family: "HelveticaNeueLtArabic";
  display: grid;
  width: 100%;
  text-align: justify;
}
.Center {
  place-items: center;
  text-align: justify;
}
.introImages {
  background-color: #e97a62;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  display: flex;
  position: relative;
  left: 2vw;
  bottom: 2vw;
}
.characterimage {
  background-color: #aac4d0;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  display: flex;
  position: relative;
  right: 10vw;
  top: 16vw;
}
#firstImage {
  position: relative;
  display: flex;
  bottom: 20vw;
  left: 8vw;
  width: 40vw;
  height: 45vw;
}
.logoimage {
  position: relative;
  display: flex;
  right: 10vw;
  top: 5vw;
  height: 30vw;
}
.ofoqtitle {
  position: relative;
  width: auto;
  bottom: 6vw;
  right: 3vw;
  width: 40vw;
}
.colorwhite {
  color: white;
}
.colorblue {
  color: #1d4b5e;
}
.colorlightblue {
  color: #aac4d0;
}
.colororange {
  color: #e97a62;
}
.colorgreen {
  color: #6bc96dff;
}
p {
  margin-bottom: 10px;
}
.intro {
  position: relative;
  right: 25vw;
  top: 3vw;
  width: fit-content;
  font-weight: bold;
}
.hello {
  background-image: url(visuals/hand.png);
  background-repeat: no-repeat;
}
#handbackground {
  position: relative;
  right: 40vw;
  bottom: 65vw;
  height: 50vw;
  width: 20vw;
}
#lined {
  line-height: 1px;
}
.takeoftext {
  position: relative;
  right: 10vw;
  width: fit-content;
}
.takeoftext p {
  font-size: 3vw;
  font-weight: bold;
}
.takeofimage {
  background-color: #e97a62;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  left: 18vw;
  position: relative;
  bottom: 8vw;
  overflow: visible;
}
.takeofimage img {
  display: block;
  position: absolute;
  top: -4.5vw;
  right: 5vw;
  width: 40vw;
  height: 33vw;
}
.takeoftitle {
  position: relative;
  bottom: 12vw;
  height: 45vw;
}

.title {
  font-size: 3vw;
  line-height: 3.6vw;
  font-weight: bolder;
}
#seperator {
  border-top: 1px solid;
  width: 35vw;
}
.whoweare {
  background-color: #aac4d0;
  padding: 5vw;
  /* height: 40vw; */
}
.whowearetitle {
  padding-bottom: 2vw;
}
.ourway {
  align-items: center;
  background-color: #e97a62;
}
.glasses {
  display: flex;
  justify-content: center;
  align-items: center;
}
.glasses img {
  position: relative;
  width: 40vw;
  height: 10vw;
  top: 1vw;
  left: 5vw;
}
.successstop {
  padding-top: 2vw;
  background-color: #aac4d0;
  height: 30vw;
}
#servicesimg {
  height: 10vw;
  width: 50vw;
}
#servicestext {
  position: relative;
  z-index: 2;
  right: 17.5vw;
  bottom: 5vw;
}
#servicesarrow {
  position: relative;
  height: 47vw;
  bottom: 23vw;
  right: 36vw;
}
.boothimages1 .boothimages2 {
  display: flex;
  gap: 1.2vw;
}
.boothimages1 .boothimages2 img {
  width: 17.3vw;
  height: 17.3vw;
  flex: 1;
}
.boothimages3 img {
  width: 54.5vw;
  height: 17.3vw;
}
.learningimages {
  display: flex;
  gap: 1vw;
}
.learningimages img {
  width: 17.3vw;
  height: 17.3vw;
}
.specialconsultaion {
  height: 29.6vw;
  background-color: #1d4b5e;
}
.specialconsultaion1 {
  position: relative;
  z-index: 1;
  bottom: 6vw;
}
.specialconsultaion2 {
  position: relative;
  right: 6.5vw;
  bottom: 37.5vw;
  height: fit-content;
}
.motivationimages {
  display: flex;
  gap: 1.2vw;
}
.motivationimages img {
  width: 17.3vw;
  height: 17.3vw;
}
#widerimage {
  width: 35.9vw;
}
.appreciationimages {
  display: flex;
}
.appreciationimages img {
  width: 17.3vw;
  height: 17.3vw;
  padding: 0.6vw;
}
.risecontainer img {
  width: 63.2vw;
  height: 47.7vw;
  position: relative;
}
.excellenceimages {
  display: flex;
  gap: 1vw;
}
.excellenceimages img {
  width: 26.3vw;
  height: 26.3vw;
  padding: 0.6vw;
}
.specialconsultaion {
  overflow: visible;
}
.diamondtrip {
  background-color: #aac4d0;
  background-image: url(visuals/bluebulb.png);
  background-repeat: no-repeat;
  height: 56vw;
  margin: 1vw 0;
}
#orangebulb {
  position: relative;
  right: 15vw;
  bottom: 36vw;
  width: 43.5vw;
  height: 43.5vw;
}
.circleorange {
  margin: 1vw;
  display: grid;
  place-items: center;
  height: 15vw;
  width: 15vw;
  border-radius: 80%;
  background-color: #e97a62;
  color: #1d4b5e;
}
.circleblue1 {
  position: relative;
  height: 10vw;
  width: 10vw;
  border-radius: 80%;
  border: 1px solid #1d4b5e;
  right: 2.5vw;
}
.circleblue2 {
  position: relative;
  height: 10vw;
  width: 10vw;
  border-radius: 80%;
  border: 1px solid #1d4b5e;
  z-index: -1;
  bottom: 12.5vw;
  left: 3.5vw;
}
.circleblue3 {
  position: relative;
  height: 10vw;
  width: 10vw;
  border-radius: 80%;
  border: 1px solid #1d4b5e;
  z-index: -1;
  bottom: 3vw;
  right: 2.5vw;
}
.standout {
  height: 130vw;
}
.standoutvision {
  margin-top: 1vw;
  display: flex;
}
.achievements {
  background-color: #e97a62;
  height: 48.5vw;
}
.achievements .title {
  margin: 2.5vw;
}
#achievemntimage {
  position: relative;
  left: 8.5vw;
  bottom: 41vw;
  height: 60.1vw;
  width: 65.7vw;
}
ul.achievementlist {
  list-style-type: none;
}
ul.achievementlist li::before {
  content: "-";
}
#rotate {
  position: relative;
  right: 45vw;
  bottom: 65vw;
  transform: rotate(270deg);
  width: fit-content;
}
#rotate p {
  margin: 0px;
}
.circleorangeend {
  position: relative;
  height: 15vw; /* Responsive height */
  width: 15vw; /* Responsive width */
  border-radius: 50%;
  border: 1px solid #e97a62;
  right: 12vw; /* Responsive positioning */
  top: 1vw; /* Responsive positioning */
}

#endhand {
  position: relative;
  height: 29vw; /* Responsive height */
  left: 10vw; /* Responsive positioning */
  bottom: 12vw; /* Responsive positioning */
  width: 23.7vw; /* Responsive width */
}
.nationday {
  height: 65vw; /* Responsive height */
}
.nationdayimage {
  width: 65vw; /* Responsive width */
  height: 46vw; /* Responsive height */
}
#nationdaytext {
  position: relative;
  bottom: 14vw; /* Responsive positioning */
  left: 25vw; /* Responsive positioning */
  font-size: 2.2vw; /* Responsive font size */
  font-weight: bold;
}
footer {
  background: none;
  display: flex;
  text-align: center;
  justify-content: center; /* Center align the footer content */
  align-items: center; /* Center align items vertically */
  gap: 2vw; /* Responsive gap */
  padding: 1vw 2vw; /* Responsive padding */
  direction: ltr;
}
footer p,
footer a {
  display: flex;
  align-items: center; /* Align text and icon vertically */
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Ensure links have the same color as the text */
}
footer img {
  margin-left: 0.5vw; /* Responsive margin */
  width: 2vw; /* Responsive width */
  height: auto; /* Maintain aspect ratio */
}
.valueslist {
  list-style-type: none;
  padding-right: 0px;
}

.valueslist li {
  padding-right: 5vw; /* Responsive padding */
  background-repeat: no-repeat;
  background-position: right center;
}

.valueslist .li1 {
  background-image: url("visuals/innovitionicon.png");
}

.valueslist .li2 {
  background-image: url("visuals/professionalisimicon.png");
}

.valueslist .li3 {
  background-image: url("visuals/cooperationicon.png");
}

.valueslist .li4 {
  background-image: url("visuals/speedicon.png");
}

.valueslist .li5 {
  background-image: url("visuals/socialicon.png");
}

.listcontainer {
  display: flex;
  height: 30vw; /* Responsive height */
  margin-top: -2vw; /* Responsive margin */
}
.bulbblue {
  position: relative;
  width: 47vw; /* Responsive width */
  height: 45.7vw; /* Responsive height */
  bottom: 15vw; /* Responsive positioning */
}
#imageschunk {
  width: 90vw;
}
#hard1 {
  width: 50vw;
}
